.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
}


.head {
  
  background-color: #343a40;
  color: white;
  height: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}