.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.textbox_container {
  height: 600px;
  overflow-y: auto;
  border: 1px solid #888888;
}

.typing_container {
  width: 100%;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 4px 0;
}

.sender {
  font-weight: 800;
}

.text_input {
  flex: 1;
  margin-right: 8px;
  padding: 4px;
  border: solid 1px #888888;
}

.send {
  fill: #1e88e5;
  cursor: pointer;
}

.send:hover {
  fill: #0d47a1;
}
