.container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
}


.head {
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(45, 54, 73);
  color: white;
  height: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}