.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.chatContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.block{
  border-radius: 0px;
}
